
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/in_Layout.cshtml";
}
@*<h3>产品类别</h3>*@
<script src="~/style/js/jquery-1.7.2.min.js"></script>
<script>
        $(function () {
            $(".fen-nav li").click(function () {
                var dataid = $(this).attr("dataid");                
                $.ajax({
                    type: "post",
                    url: "@Url.Action("ProSortdata", "ProductSort")",
                    data: { "id": dataid },
                    success: function (data) {                       
                        $("#f1").html(data);
                    }
                })
            })
        })
</script>
<body>
    <!--ftop开始-->
    <div class="ftop">
        <div class="index_search index_search01" style="padding-left: 10px;">
            <div style="left:0px; width:100%;" onclick="document.location='search.html'">
                <input type="text" placeholder="请输入您要搜索的产品">
                <input type="button" value=" ">
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <!--ftop开始-->
    <!--分类页面-->
    <!--分类-->
    <div class="fenlei">
        <div class="fen-nav">
            <ul>
                @*<li class="on">冬虫夏草</li>
                <li>冬虫夏草</li>*@
                @{ int i = 0;
                    foreach (var item in ViewBag.Sortresult)
                    { 
                    if (i == 0)
                    {
                    <li class="on" dataid="@item.code">@item.name</li>
                    }
                   else
                    {
                    <li class="on" dataid="@item.code">@item.name</li>
                    }
                  i++;
                 }

            }
            </ul>
        </div>
        <div class="fen-box">
            <div class="fff">
                <div class="fenlist">
                    <ul id="f1">
                        @*<li>
                            <a class="imga" href="search_list.html"><img src="images/img_012.jpg"></a>
                            <a class="txta" href="search_list.html">
                                <span>云南特级冬虫夏草1</span>
                                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                            </a>
                        </li>*@     
                        @foreach (var item in ViewBag.s)
                        {
                       <li>
                       <a class="imga" href="/ProductInfo/Index/?id=@item.code"><img src="/images/@item.images.ToString().Split(',')[1]"></a>
                       <a class="txta" href="/ProductInfo/Index/?id=@item.code">
                       <span>@item.name</span>
                       <i>@item.describe.Substring(0,35).ToString()...</i>
                      </a>
                     </li>
                        }                  
                    </ul>
                </div>                              
            </div>
        </div>
    </div>
    <script>
    var m=$(window).height()-98;
    $(".fen-nav,.fen-box").css("height",m+"px");


    var $lii = $(".fenlei .fen-nav li");
    $(".fenlei .fen-box .fenlist").hide();
    $(".fenlei .fen-box .fenlist").first().show();
    $lii.click(function(){
        var n = $(this).index();
        var h = $(this).height();
        //alert(h)
        var sunh = n * h-1;
        $(".fen-nav").animate({"scrollTop":sunh+"px"},1000)


        $(this).addClass("on").siblings().removeClass("on");
        var indexx = $lii.index(this);
        $('.fenlei .fen-box').animate({scrollTop: '0px'},500);
        //$(".fenlei .fen-box .fff .fenlist").hide();
        //$(".fenlei .fen-box .fff .fenlist").eq(indexx).show();
        
    })
    var w=$(".fenli li img").width();
    $(".fenli li img").height(w);
    $(window).resize(function(){
        var w=parseInt($(".fenli li img").width());
        $(".fenli li img").height(w);
    })

    </script>
</body>

